*{
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

.hidden{
    display: none;
}

.container{
    position: relative;
    width: 300px;
    height: 250px;
    /* background: url('./images/Slide1/bg.jpg'); */
}
.bg{
    position: absolute;
    width: 300px;
    height: 250px;
}
.deal{
    position: absolute;
    width: 227px;
    height: 157px;
    top: 44px;
    left: 32px;
    scale: .3;
}
.offer{
    position: absolute;
    width: 93px;
    height: 64px;
    top: 11px;
    left: 15px;
}

.text{
    position: absolute;
    width: 178px;
    height: 49px;
    top: 72px;
    left: 60px;
}
.base{
    position: absolute;
    width: 226px;
    height: 54px;
    top: 134px;
    left: 37px;
}
/* #numbers{
    position: absolute;
    scale: .5;
} */
/* .digits{
    position: absolute;
    scale: .7;
} */
.zero{
    position: absolute;
    width: 47px;
    height: 47px;
    top: 190px;
    left: 41px;
    scale: .7;
}
.two{
    position: absolute;
    width: 47px;
    height: 47px;
    top: 190px;
    left: 98px;
    scale: .7; 
}

.two_1{
    position: absolute;
    width: 47px;
    height: 47px;
    top: 190px;
    left: 155px;
    scale: .7; 
}
.two_2{
    position: absolute;
    width: 47px;
    height: 47px;
    top: 190px;
    left: 213px;
    scale: .7; 
}
.cashback{
    position: absolute;
    width: 194px;
    height: 140px;
    top: 110px;
    left: 53px;
}
.text2{
    position: absolute;
    width: 199px;
    height: 58px;
    top: 44px;
    left: 51px;
}
.condition{
    position: absolute;
    width: 52px;
    height: 11px;
    top: 231px;
    left: 243px;
}

.drop_zone{
    /* animation: drop_zone1 1s forwards; */
    left: 41px;
    top: 137px;
    scale: 1;
}

.drop_zone2{
    /* animation: drop_zone 1s forwards; */
    top: 137px;
    scale: 1;
}

.xoomIn{
    animation: xoomIn 1s forwards;
}
@keyframes xoomIn{
    25%{
        scale: .5;
    }
    75%{
        scale: .7;
    }
    100%{
        scale: 1;
    }
}

.flyIn{
    animation: flyIn 1s forwards;
}

@keyframes flyIn{
    from{
        top: -52px;
    }
    to{
        top: 72px;
    }
}

.flyIn2{
    animation: flyIn2 1s forwards;
}

@keyframes flyIn2{
    from{
        top: -52px;
    }
    to{
        top: 44px;
    }
}

.bottomtoup{
    animation: bottomtoup 1s forwards;
}

@keyframes bottomtoup{
    from{
        top: 247px;
    }
    to{
        top: 110px
    }
}
